#header {
	background-color: #1d56fb;
	padding: 20px;
}

#wrapper {
	background-color: #d9c8af;
	padding: 20px;
}

#page-title {
	text-align: center;
	color: #ffffff;
}

#articles {
	display: inline-block;
    overflow: auto;
    width: 60%;
	padding: 10px;
}

#notes {
	padding: 10px;
	float: right;
    width: 30%;
}

#title-input {
	padding: 20px;
	display: block;
}
#body-input {
	padding: 20px;
	display: block;
}

body {
	background-color: #d9c8af;
}

