#header {
	background-color: #1d56fb;
	padding: 20px;
}

#wrapper {
	background-color: #d9c8af;
	padding: 20px;
}

#title {
	text-align: center;
	color: #ffffff;
}

#articles {

}

#notes {

}

body {
	background-color: #d9c8af;
}

